{% extends "base.html" %}

{% block maincontent %}
<div class = "container">
  <div class = "row">
    <div class = "col contenedor-formulario">
      {% if request.path == '/docente/create/' %}
        <h3> Crear Docente</h3>
      {% endif %}
      {% if 'update' in request.path %}
        <h3> Editando al Docente {{object.first_name}} {{object.last_name}}</h3>
      {% endif %}
    </div>
  </div>
  <hr />
  <div class = "row">
    <div class = "col contenedor-formulario">
      <form class="formulario_fac" enctype="multipart/form-data" method="post">{% csrf_token %}
          {{ form.as_p }}
          <br>
          <button type="submit">Save</button>
          <a class='btn' href="{% url 'lista-docentes' %}">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock maincontent%}