{% extends 'base.html' %} 
{% block maincontent %}
<div class = "container">
    <div class = "row">
      <div class = "col contenedor-formulario">
        <form class="elimina_fac" action="" method="post">{% csrf_token %}
            <p> <h1>¿Está seguro de querer eliminar la facultad "{{ object.name }}"?</h1></p>
            <hr/>
            <input type="submit" value="Confirm" />
            <a class='btn'href="{% url 'lista-facultades' %}">Cancel</a>
        </form>
      </div>
    </div>
</div>
{% endblock maincontent %}