{% extends 'base.html' %}
{% load static %}
{% block section %}
    <h2>{{ object.name }}</h2>
    <hr>
{% endblock section %}

{% block maincontent %}
  <div class="container">
     <table border="1px">
      <tr>
          {% for d in object.get_docentes.all %}
             <td>
                <a href="{% url 'doc-detail' d.pk %}">
                    {{ d.first_name }} {{ d.last_name }} <br>
                    <img src="{% static d.photo.url %}" style="width:250px;height:330px" />
                </a></h2>
                <br>
                {% if user.is_authenticated %}
                  <a class="btn btn-info" href="{% url 'doc-update' d.pk %}">Editar</a>
                  <a class="btn btn-danger" href="{% url 'doc-delete' d.pk %}">Eliminar</a>
                {% endif %}
              </td>
           {% endfor %}
       </tr> 
      </table>
   </div>
{% endblock maincontent %}